// colors
$primary: #202020;
$secondary:#121212; 
$white:#fff;
$black:#000000;
$red:#ED3024;
$blue:#3137C9;
// z-index
$zi-sidebar: 1000;
$zi-header: 1000;
$zi-modal: 1010;

$w-sidebar: 300px;

// media
$tablet-bp: 991px;
$mobile-bp: 575px;