<div class="modal">
  <div class="modal__content ">
    <form action="/" class="form">

      <button class="modal__close" type="button">
        <img src="assets/images/modal/cancel.svg">
      </button>

      <ul class="social">

        <li class="social__item">
          <a href="#">
            <img src="assets/images/modal/facebook.svg">
          </a>
        </li>

        <li class="social__item">
          <a href="#">
            <img src="assets/images/modal/twitter.svg">
          </a>
        </li>

        <li class="social__item">
          <a href="#">
            <img src="assets/images/modal/vk.svg">
          </a>
        </li>

        <li class="social__item">
          <a href="#">
            <img src="assets/images/modal/copy.svg">
          </a>
        </li>

      </ul>
    
  </div><!-- modal__content -->
</div><!-- modal -->